.background-black{
    background-color: currentColor !important;
}
.no-padding{
    padding: 0px !important
}
.scrollmenu {
    overflow: auto;
    margin-top: 10px;
}
.header{
  position: fixed !important;
  top: 0;
  width: 100%;
}